<div class= "container">


  <%# <h6 style="text-align:end">Total <strong><%= Movie.count %></strong>
  <%# movies</h6> %>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/Got_pic.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/soul.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/insidious-2010.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <%# <div class="d-flex justify-content-between ">
    <ul class="list-group">
      <% @lists.each do |list| %>
        <%#= link_to list.name, list_path(list) %>
        <%#= link_to 'delete', list_path(list), method: :delete, data: { confirm: "Delete this List?"} %>
      <%# <% end %>
    <%# </ul> %>
  <%# </div> %>

  <div class="row row-cols-1 row-cols-md-3">
    <% @lists.each do |list| %>
      <div class="col-md-4">
          <div class="card h-100">
            <img src="/images/film1.jpeg" alt="" class='card-img-top' width='300px' height='300px'>
            <%# <%= image_tag apparel.picture, class: 'card-img-top', width: 300 if apparel.picture.attached?%>
            <div class="card-body">
              <h5 class="card-title"><%= link_to list.name, list_path(list)%></h5>
            </div>
            <%= link_to 'delete', list_path(list), method: :delete, data: { confirm: "Delete this List?"} %>
          </div>
        </div>
    <% end %>
  </div>

  </div>
</div>

   <%= render 'form' %>
</div>
