<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="border-bottom bg-white">
      <div class="navbar container">
        <img src="/images/film1.jpeg" alt="" width="70px" height="70" class="rounded">
        <h3 style="textalign: end">
          | <small class="text-muted">Binge</small> Watching |
        </h3>

        <!-- turn this link into a button -->
        <%# <a href="#" class="btn btn-primary">Login</a> %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
